/* ====================== Breakpoints ====================== */
@media (max-width: 850px) {
	#reviews-container {
		width: 100%;
	}
	#restaurant-container div {
		padding-left: 80px;
		width: 400px;
	}
	.restaurant-img {
		min-width: 650px;
	}
}

@media (min-width: 700px) {
	#breadcrumb {
		padding: 10px 40px 16px;
	}
	.title {
		padding-top: 1em;
	}
	.inside #footer {
		padding: 2% 1.5% 2%;
	}
}

@media (min-width: 850px) and (max-width: 1100px) {
	.restaurant-img {
		min-width: 850px;
	}
	#restaurant-container div, 
	#reviews-container div {
		margin: auto;
		padding: auto;
	}
	.inside #map-container {
		width: 100vw;
		height: 50vw;
		position: relative;
		top: 6.4em;
    }
    #restaurant-container,
    #reviews-container {
    	width: 100%;
    	margin: 0 0 0 0;
    }
    #breadcrumb {
    	width: 100%;
    }
}

@media (min-width: 200px) and (max-width: 450px) {
	#restaurant-container div {
		width: 100%;
		padding-left: 60px;
	}
	.restaurant-img {
		min-width: 250px;
	}
}

@media (min-width: 450px) and (max-width: 680px) {
	.restaurant-img {
		min-width: 400px;
	}
	#restaurant-container div {
		width: 100%;
		padding: auto;
	}
}

@media (min-width: 50px) and (max-width: 200px) {
	#restaurant-container div {
		width: 100%;
		padding: auto;
	}
	.restaurant-img {
		min-width: 150px;
	}
}

@media (min-width: 1125px) {
	#restaurant-container div {
		width: 100%;
		margin: 0 0 0 -79px;
	}
}
